<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-4 no-float center-block master-search-wrap">
      <h2 class="master-header">Login here</h2>
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="login()">
          <mat-input-container>
            <input matInput type="email" placeholder="Email" formControlName="email" />
          </mat-input-container>
          <mat-input-container>
            <input matInput type="password" placeholder="Password" formControlName="password" />
          </mat-input-container>
          <button mat-raised-button type="submit" color="primary">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>